{% load i18n static %}<!DOCTYPE HTML>

<html>
	<head>
		<title>Print</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="Printing application" />
		<meta name="keywords" content="Printing Labels" />
		<link rel="stylesheet" href="{% static "css/main.css" %}"/>
	</head>
	<body class="is-preload">

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="admin/labelprint/printer/">Printers</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<div id="banner">
				<div class="inner">
					<img alt="logo" src="{% static "images/yourlogo.svg" %}">
				</div>
			</div>

			<div id="intro">
				<h1> Welcome To Django Zebra Print </h1>
			</div>


	</body>
</html>
